.tabs-md .tabbar, .tabs-ios .tabbar {
    background-color:#FC6A1D !important;
    
}

.tab-button {
  border-left:1px solid rgba(0, 0, 0, 0.5);
  border-top:1px solid rgba(0, 0, 0, 0.5); 
}

//.tabs-md .tab-button.icon-only, .tabs-md .tab-button.has-title-only:nth-child(2) {
//  border-bottom:1.75px solid white; 
 // border-top:1px solid white;
//}

//#tab-t0-1.tab-button.has-icon.icon-only.disable-hover {
//  border-left: 1px solid white;
//  border-right: 1px solid white;
//}

.tabs-md .tab-button[aria-selected=true], .tabs-ios .tab-button[aria-selected=true] {
  background-color:rgb(182, 71, 11) !important;
}

