.tabs-md .tabbar, .tabs-ios .tabbar {
    background:url("../../assets/asd.jpg");
    background-size:cover;
    background-position: center;
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    
}

.tab-button {
  margin-top:-1px;
  border-left:1px solid white;
  border-top:1px solid white; 
  min-height: 5.6rem !important;
  background-color:white;
  border-radius:0 0 15px 15px;
}

.tab-button:nth-child(1){
  border-radius:0 0 0 15px !important;
}

.tab-button:nth-child(2){
  border-radius:0 !important;
}

.tab-button:nth-child(3){
  border-radius:0 0 15px 0 !important;
}

//.tabs-md .tab-button.icon-only, .tabs-md .tab-button.has-title-only:nth-child(2) {
//  border-bottom:1.75px solid white; 
 // border-top:1px solid white;
//}

//#tab-t0-1.tab-button.has-icon.icon-only.disable-hover {
//  border-left: 1px solid white;
//  border-right: 1px solid white;
//}

.tabs-md .tab-button[aria-selected=true], .tabs-ios .tab-button[aria-selected=true] {
  
  min-height: 5.6rem;
  
}

